-
    var awardHeader = '#about-me'
    var awardList = [
        {
            title: 'I or should I say Me?',
            description: "My name is Stirbu Marian Florin, and my biggest passion is the IT domain, that's the reason why I've started to learn web development. Maybe you will ask yourself why web development and not another sector. It's simple, because I love to see how the users use my application and how they can interact with it. Bellow, is the section 'what-can-i-do' which will give you an idea of my skills. I won't claim that I'm an expert in all tools, libraries, language etc., but I've worked in all of them and I have an overview of what means to be a full-stack web developer. I'm for sure not the most skilled guy you have seen recently, but or sure I wanna become one.",
            location: 'Bucharest',
            date: '25/10/1996'
        },
    ];
#award
.award
    .award__header=awardHeader
    each award in awardList
        .award__card
            .award__icon
                span.my-cv__icon--trophy
            .award__title=award.title

            .award__icon
                span.my-cv__icon--info
            .award__description=award.description

            .award__icon
                span.my-cv__icon--map2
            .award__location=award.location
            
            .award__icon
                span.my-cv__icon--calendar
            .award__date=award.date