-
    var header = '#experience'
    var experienceList = [
        {
            title: 'Junior Auditor',
            date: '20-08-2018 - present',
            company: 'Audit One Srl',
            responsabilityList: [
                "-Financial analyses.",
                '-Verify the documentation.',
                '-Performing audit tests...which its really awesome...yea...',
            ]
        },
        {
            title: 'Financial adviser',
            date: '20-08-2018 - 01-02-2019',
            company: 'OVB Romania',
            responsabilityList: [
                '-My main duty was to improve people financial health.',
            ]
        },
        {
            title: 'Junior Relationship Manager',
            date: '01-10-2017 - 31-11-2017',
            company: 'Credit Europe Bank',
            responsabilityList: [
                '-Sell one of the most awesome credit cards...Avantaj?!!',
                '-Analyse the documents.',
                '-Resolve the problems.',
            ]
        },
        {
            title: 'MC-Crew',
            date: '01-07-2017 - 31-10-2017',
            company: "MC Donald 's - Massachusetts",
            responsabilityList: [
                'Smile and wave...'
            ]
        }
    ];

#experience
.experience
    .experience__header=header
    input.experience__input(type="radio", name="same-name", id="experience-default")
    
    each experience, key in experienceList
        input.experience__input(type="radio", name="same-name", id=`experience-id-${key}`)
        label.experience__title(for=`experience-id-${key}`)
            | #{experience.title}
            label(for="experience-default")
                span.my-cv__icon--plus
        .experience__details
            .experience__top
                .experience__date=experience.date
                .experience__company=experience.company
            .experince__list
                each responsability in experience.responsabilityList
                    .experience__responsability=responsability