-
    var header = '#experience'
    var experienceList = [
        {
            title: 'mytitle1',
            date: 'the date',
            company: 'company',
            responsabilityList: [
                'responsability one',
                'responsability two',
                'responsability three',
            ]
        },
        {
            title: 'mytitle2',
            date: 'the date',
            company: 'company',
            responsabilityList: [
                'responsability one',
                'responsability two',
                'responsability three',
            ]
        },
        {
            title: 'mytitle3',
            date: 'the date',
            company: 'company',
            responsabilityList: [
                'responsability one',
                'responsability two',
                'responsability three',
            ]
        }
    ];

#experience
.experience
    .experience__header=header
    input.experience__input(type="radio", name="same-name", id="experience-default")
    
    each experience, key in experienceList
        input.experience__input(type="radio", name="same-name", id=`experience-id-${key}`)
        label.experience__title(for=`experience-id-${key}`)
            | #{experience.title}
            label(for="experience-default")
                span.my-cv__icon--plus
        .experience__details
            .experience__top
                .experience__date=experience.date
                .experience__company=experience.company
            .experince__list
                each responsability in experience.responsabilityList
                    .experience__responsability=responsability