-
  var myFullName = 'Stirbu Florin';
  var myJobTitle = 'Web Developer';
  var socialList = [
    {icon: 'facebook', url: 'https://facebook.com/stirbumarianflorin'},
    {icon: 'stackoverflow', url: 'https://stackoverflow.com/users/10840717/florin-stirbu'},
    {icon: 'twitter', url: 'https://twitter.com/stirbuflorin'},
    {icon: 'youtube', url: 'https://youtube.com/stirbuflorin'},
    {icon: 'google-plus2', url: 'https://google.com/stirbuflorin'},
    {icon: 'github', url: 'https://github.com/stirbex'},
    {icon: 'skype', url: 'https://skype.com/stirbumarianflorin'},
    {icon: 'linkedin', url: 'https://linkedin.com/stirbumarianflorin'},
    {icon: 'earth', url: 'https://earth.com/stirbumarianflorin'},
  ]
#landing-page
.landing-page
  .landing-page__wrapper
    h1.landing-page__name=myFullName
    h2.landing-page__title=myJobTitle
    ul.landing-page__social
      each social, key in socialList
        li.landing-page__item
          label.landing-page__label(for=`message-box-id-${key}`)
            span(class=`my-cv__icon--${social.icon}`)
    .landing-page__box-body
      input.landing-page__box-radio(type="radio", name="awesome-radio", checked, id="default-message-radio")
      .landing-page__box-message Click the above icons to reveal
      .landing-page__box-header
        .landing-page__box-info Click to visit
        label.landing-page__box-close(for="default-message-radio") &times;
      each social, key in socialList
        input.landing-page__box-radio(type="radio", name="awesome-radio", id=`message-box-id-${key}`)
        .landing-page__box-message
          a.landing-page__box-link(href=social.url, target="_blank")=social.url