//- data come here
- 
    var header = '#about me'
    var imagePath = "asset/image/stirbu_florin_avatar.jpg"
    var myFullName = "Stirbu Florin"
    var myTitle = "Web Developer"
    var slogan = `Hello and many thanks for visiting my online resume. My name is Florin and I'm 22 years old. How I become a web developer? EASY I followed this motto: "The impossible can be divided at any time in the possibilities." and probably because of the passion...for IT:D`
    var achievement = {
        title: '#Achievement',
        content: `I've made some websites which have near 100% speed on "Google page speed"...probably nothing important for the moment.`
    }

    var coolStuff = {
        title: '#Grab cool stuff',
        buttonList: [
            {
                url: 'http://github.com/stirbex',
                icon: 'github',
                label: 'Click to visit the GitHub project source'
            },{
                url: "asset/doc/doc.txt",
                icon: "file-word",
                label: `Click to download the "one page" Microsoft Word version(in working)`
            }
            ,{
                url: "asset/doc/doc(2).txt",
                icon: "file-word",
                label: `Click to download the "full experience" Microsoft Word version(in working)`
            }
        ]
    }
//- the view comes here
#about-me
.about-me
    .about-me__header=header
    .about-me__avatar-wrapper
        img.about-me__avatar(src=imagePath)
    .about-me__full-name=myFullName
    .about-me__title=myTitle
    .about-me__slogan=slogan

    .about-me__title=achievement.title
    .about-me__content=achievement.content

    .about-me__title=coolStuff.title
    .about-me__link-list
        each button in coolStuff.buttonList
            a.about-me__link(href=button.url)
                span.about-me__link-description=button.label
                span(class=`my-cv__icon--${button.icon}`)